body{
    padding: 0;
    margin: 0;
    background-color: #FCFEFF;
}

.socials{
    display: flex;
    position: fixed;
    z-index: 100;
    background-color: #7DDEFF;
    height: 250px;
    width: 5%;
    margin-left: 95%;
}


.top-container{
    top: 0;
    z-index: 98;
    position: fixed;
    width: 100%;
    height: 60px;
    background: white;
    border-bottom: solid 1px lightsteelblue;
    display: flex;
    align-items: center;
}

.logo{
    top: 0;
    width: 12%;
    height: 40px;
    position: fixed;
    margin: 0;
    text-align: center;
    padding: 11px 20px;
    z-index: 99;
}

.logo a{
    text-decoration: none;
    color: #008BCA;
    font-size: 30px;
    
}

.top-container ul>li>a{
    font-size: 20px;
}

.top-container a{
    text-decoration: none;
    color: #333;
}

.top-container ul{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    margin-left: 15%;
}

.top-container ul>li{
    text-align: center;
    display: inline;
    float: left;
    width: 100px;
    box-sizing: border-box;
    margin: 5px 15px;
    padding: 0;
    background-color: white;
    border: solid 0px lightsteelblue;
    transition: padding ease .2s, margin ease .2s,
    border ease .2s;
}

.top-container ul>li:hover{
    padding: 5px 15px;
    margin: 0;
    border: solid 2px lightsteelblue;
    text-align: center;
}

.main-grid{
    display: grid;
    width: 90%;
    height: 1280px;
    margin: 340px 5%;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
}

.games-grid{
    background-color: white;
    border: solid 1px #008CBA;
    border-radius: 5px;
    margin: 0 60px 0 0;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}

.assets-grid{
    background-color: white;
    border: solid 1px #4CAF50;
    border-radius: 5px;
    margin: 0 0 0 60px;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 6;
}

.artworks-grid{
    background-color: white;
    border: solid 1px #f44336;
    border-radius: 5px;
    margin: 0 60px 0 0;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 8;
}

.main-grid h3{
    box-sizing: border-box;
    width: 85%;
    margin: 35px auto;
    text-align: center;
}

.main-grid p{
    box-sizing: border-box;
    width: 85%;
    margin: 25px auto;
    text-align: left;
}

.content-buttons{
    box-sizing: border-box;
    width: 35%;
    height: 50;
    display: block;
    margin: 35px auto;
    border: none;
}

/*SPECIFIC*/

#artWorksNavigatorText {
    width: 140px;
}

#games-button{
    color: white;
    background-color: #008CBA;
}

#games-button:hover{
    color: #008CBA;
    background-color: white;
    border: solid 1px #008CBA;
    border-radius: 4px;
}

#assets-button{
    color: white;
    background-color: #4CAF50;
}

#assets-button:hover{
    color: #4CAF50;
    background-color: white;
    border: solid 1px #4CAF50;
    border-radius: 4px;
}

#artworks-button{
    color: white;
    background-color: #f44336;
}

#artworks-button:hover{
    color: #f44336;
    background-color: white;
    border: solid 1px #f44336;
    border-radius: 4px;
}
