body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.top-container{
    position: fixed;
    width: 100%;
    height: 45px;
    background: white;
    border-bottom: solid 1px lightsteelblue;
    display: flex;
    align-items: center;
}

.logo{
    width: 12%;
    height: 80px;
    background: white;
    position: absolute;
    margin: 0;
    text-align: center;
    padding: 15px 25px;
    z-index: 99;
}

.logo a{
    text-decoration: none;
    color: #333;
    
}

.top-container ul>li>a{
    font-size: 20px;
}

.top-container a{
    text-decoration: none;
    color: #333;
}

.top-container ul{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    margin-left: 25%;
}

.top-container ul>li{
    display: inline;
    float: left;
    margin: 0.5% 1%;
    padding: 5px 10px;
}
