body{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.top-container ul{
    position: fixed;
    top: 20px;
    width: 100%;
    margin: 0;
    padding: 0px;
    background-color: whitesmoke;
    list-style: none;
}

.top-container li{
    display: inline;
    float: left;

}

.top-container a{
    color: black;
    display: block;
    margin: 10px;
    padding: 20px;
    background-color: gray;
}


