body{
    padding: 0;
    margin: 0;
    background-image: url("background.jpg");
}

.socials{
    position: fixed;
    z-index: 100;
    background-color: #7DDEFF;
    height: 250px;
    width: 3%;
    margin-left: 97%;
    margin-top: 100px;
    transition: margin-left ease .3s, width ease .3s, height ease .3s,
      background-color ease .3s;
}

.socials:hover{
    background-color: #54D4D3;
    height: 450px;
    width: 10%;
    margin-left: 90%;
}


.top-container{
    top: 0;
    z-index: 98;
    position: fixed;
    width: 100%;
    height: 60px;
    background: white;
    border-bottom: solid 1px #42F0C8;
    display: flex;
    align-items: center;
    transition: height ease .3s;
}

.logo{
    top: 0;
    width: 12%;
    height: 40px;
    position: fixed;
    margin: 0;
    text-align: center;
    padding: 6px 5px;
    z-index: 99;
    font-size: 35px;
    transition: font-size ease .3s, margin ease .3s, transform ease .3s;
}

.logo a{
    margin: 0;
    text-decoration: none;
    color: white;
    -webkit-text-stroke: .3px black;
}

.logo:hover{
    transform: scale(1.25);
}

.top-container ul>li>a{
    font-size: 15px;
}

.top-container a{
    text-decoration: none;
    color: #333;
}

.top-container ul{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    margin-left: 12%;
}

.top-container ul>li{
    text-align: center;
    display: inline;
    float: left;
    width: 100px;
    box-sizing: border-box;
    margin: 10px 10px;
    padding: 0;
    background-color: white;
    border: solid 0px lightsteelblue;
    transition: padding ease .2s, margin ease .2s,
    border ease .2s;
}

.top-container ul>li:hover{
    padding: 10px 10px;
    margin: 0;
    border: solid 2px lightsteelblue;
    text-align: center;
}

.middle-img{
    width: 100%;
    height: 250px;
}

.main-grid{
    display: grid;
    width: 85%;
    height: 1050px;
    margin: 0 auto;
    border-radius: 10px;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    background-color: white;
    z-index: 90;
    box-shadow: 0px 0px 20px rgb(250, 250, 250);
}

.games-grid{
    background-color: white;
    border: solid 1px #008CBA;
    border-radius: 5px;
    margin: 75px 60px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}

.assets-grid{
    background-color: white;
    border: solid 1px #4CAF50;
    border-radius: 5px;
    margin: 75px 60px;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 6;
}

.artworks-grid{
    background-color: white;
    border: solid 1px #f44336;
    border-radius: 5px;
    margin: 75px 60px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 8;
}

.main-grid h3{
    box-sizing: border-box;
    width: 85%;
    margin: 35px auto;
    text-align: center;
}

.main-grid p{
    box-sizing: border-box;
    width: 85%;
    margin: 25px auto;
    text-align: left;
}

.content-buttons{
    box-sizing: border-box;
    width: 35%;
    height: 50;
    display: block;
    margin: 35px auto;
    border: none;
}

.footer{
    position: relative;
    width: 100%;
    height: 150px;
    background-color: rgba(0, 0, 0, .8);
    box-shadow: 0px -10px 8px rgba(0, 0, 0, .8);
    z-index: -1;
}

/*SPECIFIC*/

#artWorksNavigatorText {
    width: 140px;
}

#games-button{
    color: white;
    background-color: #008CBA;
    border-radius: 4px;
    transition: background-color ease .3s;
}

#games-button:hover{
    color: #008CBA;
    background-color: white;
    border: solid 1px #008CBA;
    border-radius: 4px;
}

#assets-button{
    color: white;
    background-color: #4CAF50;
    border-radius: 4px;
    transition: background-color ease .3s;
}

#assets-button:hover{
    color: #4CAF50;
    background-color: white;
    border: solid 1px #4CAF50;
    border-radius: 4px;
}

#artworks-button{
    color: white;
    background-color: #f44336;
    border-radius: 4px;
    transition: background-color ease .3s;
}

#artworks-button:hover{
    color: #f44336;
    background-color: white;
    border: solid 1px #f44336;
    border-radius: 4px;
}
